<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body> 
    <div class="jumbotron">
       
            <h1>CODY CONDON</h1>
            <h2>Full-Stack Developer</h2>       
            <a class="button1" href ="#">VIEW PROJECTS</a>
   
    </div>

    <div class="projects">
        <ul>
            <li><a href="https://sightcast.herokuapp.com">SIGHTCAST</a></li>
            <li ><a href="https://alpha-blog-cody-2.herokuapp.com/">BLOGGER</a></li>
            <li ><a href="https://shielded-waters-78589.herokuapp.com/">PORTFOLIO</a></li>
            <li ><a href="https://cody-photo-app.herokuapp.com/">Photo Management BETA</a></li>
        </ul>
    </div>

    <div class="section2">
        <div class="container">
            <div class="col-md-offset-3 col-md-6 info">
                  <img src="facebookphoto.jpg"/>
                <h1>CONTACT</h1>
                <p>Email: codycondon50@gmail.com</p>
                <h1>ABOUT</h1>
                <p>I am here to create that stunning user experience for clients.
                Have over 2 years experience with HTML/CSS, Javascript and responsive design.
                Currently focusing on React.js with knowledge of Ruby on Rails.
                Coming from a strong background of marketing, design and music. 
                I've worked with various major record labels, teaming with their artists.
                Whom I met with and wrote for accordingly depending on the individuals image and perspective on music.</p>
                <h1>COPYRIGHT</h1>
                <p>Cody Condon 2016</p>
            </div>
        </div>
    </div>
    
</body>
</html>